<div class="h-screen flex">
  
    <div class="w-full lg:w-2/5 flex justify-center items-center">
      <form [formGroup]="loginForm" (ngSubmit)="login()"  class="flex flex-col gap-5 p-8 w-3/4 max-w-md shadow-lg rounded-lg">
        <h2 class="text-3xl font-medium text-center">Login</h2>
  
        <div class="flex flex-col gap-2">
          <label for="email">Email</label>
          <input 
            pInputText 
            formControlName="email" 
            type="email" 
            id="email" 
            name="email"
            [ngClass]="[
              loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched  ? 'ng-invalid ng-dirty' : ''
            ]"
          />
          @if (isFieldInvalid("email")) {
            <small class="text-red-500">
                O email é obrigatório e deve ser um email válido.
            </small>
          }
        </div>
  
        <div class="flex flex-col gap-2">
          <label for="password">Senha</label>
          <p-password 
            formControlName="password" 
            id="password" 
            name="password" 
            [toggleMask]="true"
            [ngClass]="[
              loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched  ? 'ng-invalid ng-dirty' : ''
            ]"
          ></p-password>
          @if (isFieldInvalid("password")) {
            <small class="text-red-500">
                A senha é obrigatória e deve ter pelo menos 6 caracteres.
            </small>
          }
        </div>
  
        <div>
          <p-button 
            label="Entrar"
            type="submit"
            [disabled]="loginForm.invalid"
            [loading]="loading"
          />
        </div>
        <p class="text-xs">Não possue uma conta ainda? <a routerLink="/signup" class="underline cursor-pointer font-medium">Cadastra-se!</a></p>
      </form>
    </div>

    <div class="hidden lg:flex lg:flex-col justify-end items-center border-none h-screen w-3/5 gap-32 bg-neutral-900 bg-cover bg-center">
      <div class="flex flex-col justify-center items-start gap-5 mt-10 p-6 m-5 bg-black/50 backdrop-blur-md rounded-lg shadow-lg">
    
        <h1 class="text-5xl font-bold text-white p-3 border-l-4 border-primary shadow-md">
          Gerencie seus torneios e acompanhe suas inscrições de forma fácil!
        </h1>
        
        <h2 class="text-3xl font-medium text-white p-3 border-l-4 border-secondary">
          Conecte-se e explore novos desafios!
        </h2>
    
      </div>

      <p-carousel 
          [value]="images"
          [numVisible]="3"
          [numScroll]="1"
          [circular]="true"
          [autoplayInterval]="2000"
          [responsiveOptions]="responsiveOptions">
          
          <ng-template let-image pTemplate="item">
            <img [src]="image" class="w-full h-full object-cover shadow-lg" />
          </ng-template>
        </p-carousel>
    </div>

  </div>