<p-toast />
<p-confirmdialog />

<a 
  (click)="details.emit()"
>
  <p-card [style]="{ overflow: 'hidden' }">
    <ng-template #header>
      <img [src]="image" alt="{{ name }}" class="w-full h-40 object-cover rounded-lg">
    </ng-template>
    <ng-template #title>{{ name }}</ng-template>
    <ng-template #subtitle>{{ gameLabel }} - {{ plataformLabel }}</ng-template>
    <p>Máx. Times: {{ maxTeams }}</p>
    <p>Data Início: {{ startDate | date }}</p>
    <p>Status: {{ statusLabel }}</p>
    <ng-template #footer>
        <div class="flex flex-col md:flex-row gap-4 mt-2">
            @if (isOrganizer) {
              <p-button 
                label="Editar" 
                severity="secondary"
                class="w-full" 
                [outlined]="true" 
                styleClass="w-full"
                (click)="update.emit()"
              />
              <p-button 
                label="Excluir" 
                severity="primary"
                class="w-full" 
                [outlined]="true" 
                styleClass="w-full"
                (click)="delete.emit()" 
              />
            } @else {
                @if (status == 1 || status == 2) {
                  <p-button 
                    label="Participar" 
                    class="w-full" 
                    styleClass="w-full" 
                    (click)="confirmSubscription($event); $event.preventDefault()"
                  />
                } @else if (status == 3) {
                  <p-button 
                    label="Em andamento" 
                    class="w-full" 
                    styleClass="w-full" 
                    [disabled]="true"
                  />
                } @else {
                  <p-button 
                    label="Encerrado" 
                    class="w-full" 
                    styleClass="w-full" 
                    [disabled]="true"
                  />
                }
              }
        </div>
    </ng-template>
  </p-card>
</a>