<div class="sidenav shadow-md" [ngClass]="isLeftSidebarCollapsed ? 'sidenav-collapsed' : ''">

  <div class="absolute -right-1 top-1/2">
    <button class="logo text-lg" (click)="toggleCollapse()">
      <i [ngClass]="isCollapsed ? 'fa-solid fa-angle-right' : 'fa-solid fa-angle-left'"></i>
    </button>
  </div>

  <div class="flex justify-center items-center w-full pt-5">
    @if (!isLeftSidebarCollapsed) {
      <div class="text-white font-bold text-2xl">TourMine</div>
    } @else {
      <div class="text-white font-bold text-2xl">T</div>
    }
  </div>

  <div class="sidenav-nav mt-5">
    <ul>
      <li *ngFor="let item of items; index as i" class="sidenav-nav-item">
        <a
          class="sidenav-nav-link flex items-center"
          [ngClass]="isCollapsed ? 'justify-center' : 'justify-start pl-2'"
          [routerLink]="item.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="sidenav-link-icon" [class]="item.icon"></i>
          <span *ngIf="!isLeftSidebarCollapsed" class="sidenav-link-text">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
