<app-card-main>
    <div class="flex justify-around items-center mb-2">
        <div class="mt-10 lg:mt-0">
            <h1 class="uppercase text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold">Criar Torneio</h1>
        </div>
        <img class="hidden lg:block bg-primary px-10 py-2 teste" 
             src="https://pngimg.com/d/call_of_duty_PNG24.png" 
             alt="Imagem do jogo">
    </div>
    
    <div *ngIf="successMessage" class="fixed top-4 right-4 bg-green-500 text-white p-3 rounded-md shadow-lg">
        {{ successMessage }}
    </div>

    <div class="flex flex-col justify-center gap-4 p-5">
        <form [formGroup]="createTournamentForm" class="flex flex-col gap-4">

            <div class="lg:flex lg:gap-4">
                <div class="flex flex-col gap-2 w-full">
                    <label for="name">Nome</label>
                    <input 
                        pInputText 
                        formControlName="name" 
                        placeholder="Nome do Torneio" 
                        type="name" 
                        id="name" 
                        name="name"
                        [ngClass]="[
                            createTournamentForm.get('name')?.hasError('required') && createTournamentForm.get('name')?.touched  ? 'ng-invalid ng-dirty' : ''
                        ]"
                    />
                    @if (createTournamentForm.get('name')?.hasError('required') && createTournamentForm.get('name')?.touched) {
                        <small class="text-red-500">
                            O campo Nome é obrigatório.
                        </small>
                    }
                </div>
    
                <div class="flex flex-col gap-2 w-full">
                    <label for="game">Jogo</label>
                    <p-select 
                        formControlName="game"
                        [options]="gamesOptions" 
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Selecione o jogo do torneio" 
                        id="game" 
                        name="game"
                        [ngClass]="[
                            createTournamentForm.get('game')?.hasError('required') && createTournamentForm.get('game')?.touched  ? 'ng-invalid ng-dirty' : ''
                        ]"
                    />
                    @if (createTournamentForm.get('game')?.hasError('required') && createTournamentForm.get('game')?.touched) {
                        <small class="text-red-500">
                            O campo Jogo é obrigatório.
                        </small>
                    }
                </div>
            </div>

            <div class="lg:flex lg:gap-4">
                <div class="flex flex-col gap-2 w-full">
                    <label for="plataform">Plataforma</label>
                    <p-select 
                        formControlName="plataform"
                        [options]="platformsOptions" 
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Selecione uma plataforma" 
                        id="plataform" 
                        name="plataform"
                        [ngClass]="[
                            createTournamentForm.get('plataform')?.hasError('required') && createTournamentForm.get('plataform')?.touched  ? 'ng-invalid ng-dirty' : ''
                        ]"
                    />
                    @if (createTournamentForm.get('plataform')?.hasError('required') && createTournamentForm.get('plataform')?.touched) {
                        <small class="text-red-500">
                            O campo Plataforma é obrigatório.
                        </small>
                    }
                </div>
    
                <div class="flex flex-col gap-2 w-full">
                    <label for="maxTeams">Quantidade Máxima de Times</label>
                    <p-inputnumber 
                        formControlName="maxTeams" 
                        inputId="integeronly" 
                        [min]="2"
                        placeholder="Máx. de Times" 
                        id="maxTeams" 
                        name="maxTeams"
                        [ngClass]="[
                            createTournamentForm.get('maxTeams')?.hasError('required') && createTournamentForm.get('maxTeams')?.touched  ? 'ng-invalid ng-dirty' : ''
                        ]"
                    />
                    @if (createTournamentForm.get('maxTeams')?.hasError('required') && createTournamentForm.get('maxTeams')?.touched) {
                        <small class="text-red-500">
                            O campo Quantidade Máxima de Times é obrigatório e deve ter no mínimo 2 times.
                        </small>
                    }
                </div>
            </div>


            <div class="flex flex-col gap-2">
                <label for="teamsType">Tipo de Equipe</label>
                <p-select 
                    formControlName="teamsType"
                    [options]="participantsTypeOptions" 
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Selecione o tipo de Equipe" 
                    id="teamsType" 
                    name="teamsType"
                    [ngClass]="[
                        createTournamentForm.get('teamsType')?.hasError('required') && createTournamentForm.get('teamsType')?.touched  ? 'ng-invalid ng-dirty' : ''
                    ]"
                />
                @if (createTournamentForm.get('teamsType')?.hasError('required') && createTournamentForm.get('teamsType')?.touched) {
                    <small class="text-red-500">
                        O campo Tipo de Equipe é obrigatório.
                    </small>
                }
            </div>

            <div class="flex flex-col sm:flex-row gap-4 items-center">
                <div class="flex flex-col gap-2 w-full">
                    <label for="startDate">Data e hora de Início</label>
                    <p-datepicker 
                        inputId="calendar-24h" 
                        formControlName="startDate"  
                        [showTime]="true" 
                        [hourFormat]="'24'" 
                        [minDate]="minStartDate"
                        placeholder="Selecione a data e hora de início" 
                        id="startDate" 
                        name="startDate"
                        [iconDisplay]="'input'" 
                        [showIcon]="true" 
                        inputId="icondisplay"
                        [ngClass]="[
                            createTournamentForm.get('startDate')?.hasError('required') && createTournamentForm.get('startDate')?.touched  ? 'ng-invalid ng-dirty' : ''
                        ]"
                    />
                    @if (createTournamentForm.get('startDate')?.hasError('required') && createTournamentForm.get('startDate')?.touched) {
                        <small class="text-red-500">
                            O campo Data e hora de Início é obrigatório.
                        </small>
                    }
                </div>

                <div class="flex flex-col gap-2 w-full">
                    <label for="startDate">Data e hora de Termíno</label>
                    <p-datepicker 
                        inputId="calendar-24h" 
                        formControlName="endDate"  
                        [showTime]="true" 
                        [hourFormat]="'24'"
                        [minDate]="minEndDate" 
                        placeholder="Selecione a data e hora de termíno" 
                        id="endDate" 
                        name="endDate"
                        [iconDisplay]="'input'" 
                        [showIcon]="true" 
                        inputId="icondisplay"
                        [ngClass]="[
                            createTournamentForm.get('endDate')?.hasError('required') && createTournamentForm.get('endDate')?.touched  ? 'ng-invalid ng-dirty' : ''
                        ]"
                    />
                    @if (createTournamentForm.get('endDate')?.hasError('required') && createTournamentForm.get('endDate')?.touched) {
                        <small class="text-red-500">
                            O campo Data e hora de Termíno é obrigatório.
                        </small>
                    }
                </div>
            </div>

            <div class="lg:flex lg:gap-4">
                <div class="flex flex-col gap-2 w-full">
                    <label for="prize">Prêmio</label>
                    <input 
                        pInputText 
                        formControlName="prize" 
                        placeholder="Prêmio do Torneio" 
                        type="prize" 
                        id="prize" 
                        name="prize"
                        [ngClass]="[
                            createTournamentForm.get('prize')?.hasError('required') && createTournamentForm.get('prize')?.touched  ? 'ng-invalid ng-dirty' : ''
                        ]"
                    />
                    @if (createTournamentForm.get('prize')?.hasError('required') && createTournamentForm.get('prize')?.touched) {
                        <small class="text-red-500">
                            O campo Prêmio é obrigatório.
                        </small>
                    }
                </div>
    
                <div class="flex flex-col gap-2 w-full">
                    <label for="subscriptionType">Tipo de Inscrição</label>
                    <p-select 
                        formControlName="subscriptionType"
                        [options]="subscriptionTypesOptions" 
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Selecione o tipo de inscrição" 
                        id="subscriptionType" 
                        name="subscriptionType"
                        [ngClass]="[
                            createTournamentForm.get('subscriptionType')?.hasError('required') && createTournamentForm.get('subscriptionType')?.touched  ? 'ng-invalid ng-dirty' : ''
                        ]"
                    />
                    @if (createTournamentForm.get('subscriptionType')?.hasError('required') && createTournamentForm.get('subscriptionType')?.touched) {
                        <small class="text-red-500">
                            O campo Tipo de Inscrição é obrigatório.
                        </small>
                    }
                </div>
            </div>

            <div class="flex flex-col gap-2">
                <label for="description">Descrição</label>
                <textarea 
                    rows="5" 
                    cols="30" 
                    pTextarea 
                    [autoResize]="true"
                    formControlName="description"
                    placeholder="Descrição do Torneio" 
                    id="description" 
                    name="description"
                    [ngClass]="[
                        createTournamentForm.get('description')?.hasError('required') && createTournamentForm.get('description')?.touched  ? 'ng-invalid ng-dirty' : ''
                    ]"
                >
                </textarea>
                @if (createTournamentForm.get('description')?.hasError('required') && createTournamentForm.get('description')?.touched) {
                    <small class="text-red-500">
                        O campo Descrição é obrigatório.
                    </small>
                }
            </div>

        </form>

        <p-button 
            label="Criar"
            type="submit"
            [disabled]="createTournamentForm.invalid"
            (click)="criarTorneio()"
            class="btn-submit"
        />

    </div>
</app-card-main>
