<app-card-main>
    <div class="flex justify-around items-center mb-2">
        <div>
            <h1 class="uppercase text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold">Criar Torneio</h1>
        </div>
        <img class="hidden lg:block bg-[#FF6500] px-10 py-2 teste" 
             src="https://pngimg.com/d/call_of_duty_PNG24.png" 
             alt="Imagem do jogo">
    </div>

    <div class="flex flex-col justify-center gap-4 p-5">
        <form [formGroup]="formulario" class="flex flex-col gap-4">
            <!-- Nome -->
            @if (formulario.get('name')?.hasError('required') && formulario.get('name')?.touched) {
                <p>O campo Nome é obrigatório.</p>
            }
            <input 
                type="text" 
                formControlName="name" 
                placeholder="Nome do Torneio" 
                class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#FF6500] focus:border-transparent text-black"
            >

            <!-- Jogo -->
            @if (formulario.get('game')?.hasError('required') && formulario.get('game')?.touched) {
                <p>O campo Jogo é obrigatório.</p>
            }
            <input 
                type="text" 
                formControlName="game" 
                placeholder="Jogo" 
                class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#FF6500] focus:border-transparent text-black"
            >

            <!-- Plataforma -->
            <select formControlName="plataform"  class="p-2 border border-gray-300 rounded-md text-black">
                <option [value]="1">PC</option>
                <option [value]="2">Console</option>
                <option [value]="3">Mobile</option>
            </select>

            <!-- Quantidade Máxima de Times -->
            <input 
                type="number" 
                formControlName="maxTeams" 
                placeholder="Máx. de Times" 
                class="p-2 border border-gray-300 rounded-md text-black"
            >

            <!-- Tipo de Equipes -->
            <select formControlName="teamsType" class="p-2 border border-gray-300 rounded-md text-black">
                <option [value]="1">Solo</option>
                <option [value]="2">Duplas</option>
                <option [value]="3">Times</option>
            </select>

            <!-- Data de Início -->
            <input 
                type="datetime-local" 
                formControlName="startDate" 
                class="p-2 border border-gray-300 rounded-md text-black"
            >

            <!-- Data de Término -->
            <input 
                type="datetime-local" 
                formControlName="endDate" 
                class="p-2 border border-gray-300 rounded-md text-black"
            >

            <!-- Prêmio -->
            <input 
                type="text" 
                formControlName="prize" 
                placeholder="Prêmio" 
                class="p-2 border border-gray-300 rounded-md text-black"
            >

            <!-- Tipo de Inscrição -->
            <select formControlName="subscriptionType" class="p-2 border border-gray-300 rounded-md text-black" >
                <option [value]="1">Grátis</option>
                <option [value]="2">Pago</option>
            </select>

            <!-- Status -->
            <select formControlName="status" class="p-2 border border-gray-300 rounded-md text-black">
                <option [value]="1">Aberto</option>
                <option [value]="2">Fechado</option>
            </select>

            <!-- Descrição -->
            <textarea 
                formControlName="description" 
                placeholder="Descrição do Torneio" 
                class="p-2 border border-gray-300 rounded-md text-black"
            ></textarea>
        </form>

        <app-button class="flex justify-end mt-5" [variant]="'primary'" [disabled]="formulario.invalid" (click)="criarTorneio()">
            Criar
        </app-button>
    </div>
</app-card-main>
