<app-card-main>
    <div class="flex justify-center items-center mb-10 py-10">
        <h1 class="uppercase text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold">Torneios</h1>
    </div>

    <div class="flex flex-wrap justify-center items-center py-5 gap-5">
        @for (tournament of tournaments; track $index) {
            <app-tournament-card
                [title]="tournament.title"
                [subtitle]="tournament.subtitle"
                [description]="tournament.description"
            ></app-tournament-card>
        }
    </div>
</app-card-main>